<ion-grid no-padding>
  <ion-row class="calendar-header-nav">
    <ion-col class="calendar-icon-nav" col-auto (click)="back()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-auto>
      <div class="calendar-title-nav">{{displayYear}} - {{displayMonth + 1 | monthName:lang}}</div>
    </ion-col>
    <ion-col class="calendar-icon-nav" col-auto (click)="forward()">
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
  </ion-row>
</ion-grid>
<ion-grid no-padding>

  <ion-row class="calendar-row" *ngFor="let week of weekArray;let i = index">
    <ion-col class="center calendar-col" (click)="daySelect(day,i,j)" *ngFor="let day of week;let j = index" [ngClass]="[day.isThisMonth?'this-month':'not-this-month',day.isToday?'today':'',day.isSelect?'select':'']">
      {{day.date}}
      <span class="eventBlip" *ngIf="day.hasEvent"></span>
    </ion-col>
  </ion-row>

</ion-grid>
