ion-calendar {
  font-family: Helvetica, Arial, sans-serif;

  .calendar-header-nav{
    justify-content: space-between;

  }
  .calendar-title-nav{
    font-size: 1.5em;
  }
  .calendar-icon-nav{
    color: #008c8c;
    font-size: 1.5em;
    margin: 0px 15px !important;
    &:hover{
      cursor: pointer;
    }
  }
  .center {
    text-align: center;
    justify-content: space-between;
  }
  .calendar-header-col {
    font-size: 1em;
    color: #666;
    justify-content: space-between;
  }
  .calendar-row {
    
    .calendar-col {
        margin: 2px;
      display: flex;
      justify-content: center;
      padding: 0.7rem !important;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        box-shadow: inset 0 0 0 2000px rgba(202, 201, 201, 0.3);
        border-radius: 5px;
      }
    }
    .not-this-month {
      color: #d1cdcd;
    }
    .today {
      color: #000;
      border: 1px solid #008c8c;
      border-radius: 5px;
    }
    .eventBlip {
      background-color: red;
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 8px;
      position: absolute;
      top: 15%;
      right: 15%;
    }
    .select {
      box-shadow: none;
      color: #fff;
      background: #008c8c;
      border-radius: 5px;
    }
  }
}
